a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0px;
}
html{
    background-color: white;
    margin: 0px;
}
.nimilipu{
    margin-left: 10%;
    font-size: 2rem;
    float: left;
    height: 4rem;
}
.sewi{
    background-color: gray;
    height: 5rem;
    vertical-align: top;
}
.toki{
    background-color: gainsboro;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    border-radius: 20px;
}
.tokiante{
    background-color: white;
    width: max-content;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    vertical-align: text-bottom;
}