@font-face {
    font-family: Phun-Sans;
    font-weight: 400;
    src: url(https://kaeru2193.github.io/Phun-Resources/font/Phun-Sans/Phun-Sans-Rounded-Regular.woff) format("woff")
}

#buttons88x31 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#left{
    float: left;
    width: 16%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 0px;
    flex-direction: column;
}
@media (max-width: 1200px) {
  #left {
    float: none;
    width: 100%;
    margin-top: 100px;
  }
}
@media (max-width: 1000px) {
  #left {
    float: none;
    width: 100%;
    margin-top: 180px;
  }
}
#map {
    height: 500px;
}

#right{
    float: right;
    width: 16%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
}
@media (max-width: 1200px) {
  #right {
    float: none;
    width: 100%;
    margin-top: 0px;
  }
}
@media (max-width: 1000px) {
  #right {
    float: none;
    width: 100%;
    margin-top: 0px;
  }
}

#toggleBtn {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    border: none;
    border-radius: 12px;
    color: black;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

a {
    text-decoration: underline;
    color: var(--text-colour);
}

body {
    margin: 0px;
    font-size: 120%;
    background-color: var(--background-colour);
    color: var(--title-colour);
}

footer {
    text-align: center;
    margin-top: 2%;
    padding-top: 5px;
    color: white;
}

h1{
    font-size: 2rem;
    color: white;
    text-shadow: 1.5px 1.5px 0 var(--title-colour), 1.5px -1.5px 0 var(--title-colour), -1.5px 1.5px 0 var(--title-colour), -1.5px -1.5px 0 var(--title-colour);
}

h2{
    font-size: 1.5rem;
    color: white;
    text-shadow: 1.5px 1.5px 0 var(--title-colour), 1.5px -1.5px 0 var(--title-colour), -1.5px 1.5px 0 var(--title-colour), -1.5px -1.5px 0 var(--title-colour);
}
h3{
    font-size: 1.25rem;
    color: white;
    text-shadow: 1.5px 1.5px 0 var(--title-colour), 1.5px -1.5px 0 var(--title-colour), -1.5px 1.5px 0 var(--title-colour), -1.5px -1.5px 0 var(--title-colour);
}

html {
    --main-colour: #ffebee;
    --background-colour: #ffe0e5;
    --title-colour: #FFA2B1;
    --transition-colour: #ffc0cb;
    --kaeruiro: #60c187;
    color: black;
    margin: 0px;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

small {
    font-size: x-small;
}

:lang(en) {
    font-family: "Catamaran", sans-serif;
}

:lang(ja) {
    font-family: "Noto Sans JP", sans-serif;
}

:lang(phn) {
    font-family: 'Phun-Sans', serif;
}

:lang(tok) {
    font-family: "Catamaran", sans-serif;
}

.blue{
    color: blue;
}

.footer-colour {
    background-color: var(--transition-colour);
    padding-bottom: 10px;
}

.hidden {
    color: var(--main-colour);
}

.kaeruiro{
    color:var(--kaeruiro)
}

.langbutton {
    background-color: var(--title-colour);
    cursor: pointer;
    border: none;
    width: 150px;
    font-size: 1.5rem;
    color: white;
}

.langbutton:hover {
    background-color: var(--transition-colour);
}


.lipuante {
    background-color: var(--transition-colour);
    height: 30px;
    width: 100%;
    display: flex;
    gap: 0;
    font-size: 0;
}

.linkbutton{
    background-color: var(--transition-colour);
    cursor: pointer;
    border: none;
    width: max-content;
    font-size: 1.25rem;
    height: 100%;
    color: white;
}

.linkbutton:hover {
    background-color: var(--background-colour);
}

.menu{
    position: fixed;
    top: 0;
    height: max-content;
    width: 100%;
    z-index: 10000;
}

.nenamute {
    margin-left: auto;
    margin-right: auto;
}

.nimi {
    margin-left: auto;
    margin-right: auto;
}

.nimiante {
    margin-left: 10%;
}

.phun {
    font-size: 2rem;
}
.phundiv{
    padding-left: 2rem;
}
.raccoons {
    margin-top:5px;
    margin-bottom:5px;
}
.red{
    color: red;
}
.sewi {
    background-color: var(--title-colour);
    height: 5rem;
}
@media (max-width: 1000px) {
  .sewi {
    height: 10rem;
}
    
}

.titlebutton {
    background-color: var(--title-colour);
    cursor: pointer;
    border: none;
    width: max-content;
    height: 5rem;
    margin-left: 10%;
    font-size: 2rem;
    color: white;
    padding-left: 0;
}

.titlebutton:hover {
    background-color: var(--transition-colour);
}

.textimg {
    width: 50px;
}

.toki {
    background-color: var(--main-colour);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 40px;
    position: relative;
}
@media (max-width: 1200px) {
  .toki {
    width: 80%;
    margin-top: 30px;
  }
}

.tokiante {
    float: right;
    display: flex;
    height: 5rem;
    width: max-content;
    margin-right: 10%;
    color: var(--title-colour);
}
@media (max-width: 1000px) {
  .tokiante {
    float: none;
    width: 100%;
    align-self: center;
    margin: auto;
    justify-content: center;
  }
}
