body{
    margin: 0px;
}
html{
    background-color: brown;
    margin: 0px;
}
.nimilipu{
    margin-left: 25%;
    font-size: 2rem;
}
.sewi{
    background-color: aqua;
}
.tokiante{
    background-color: red;
    width: max-content;
    margin-left: auto;
    margin-right: 0;
}